.details {
    padding: 10px;

    
     
     h3 span { 
         background:#fff; 
         padding:0 10px; 
     }
    
    

    .name-details {
       
        .names {
            
            .align{
                margin-right: 5px;          
            }
        }

        input{  
            width: 25%;
            margin: 10px;
            height: 25px;
            align-content: center;
        }
    }

    .contact {

        input {
            margin: 10px;
            width: 75%;
            height: 25px
        }
    }
}