.details {
    padding: 10px; 
    
     
     h3 span { 
         background:#fff; 
         padding:0 10px; 
     }
    
    .name-details {  
        
        
        .align {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;       
        }

        input{  
            width: 25%;
            margin: 5px 40px 0 5px;
            height: 25px;    
        }

        .nationality {
            select {
                margin: 10px;
                width: 25%;
                height: 30px
            }
        }
    }

    .contact {

        input {
            margin: 10px;
            width: 55%;
            height: 25px
        }
    }
}