.placement {

    
    .course-year {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .course {
            font-weight: bold;
        }
    }
}
