.success {
    width: 100%;
    position: relative;
    margin: auto;
    padding: 5px;
    background-color: rgb(8, 233, 8);
    color: #fff;
    text-align: center;
    font-weight: bold;
    animation: fadeOut 2s forwards;
}