.about-us {
    padding: 5px;
    margin: 5px;
    text-align: justify;
    width: 50%;

    h2 {
        text-align: center;
        color: rgb(3, 88, 94);
    }

    p{
        padding: 5px;
    }
}