.features {
    width: 95%;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;

    p {
        color: rgb(83, 83, 82);
    }
}